<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cek</h1>
    <h1>Haloow {{ namanya }}</h1>

    <!-- berapanilanya > 50 -->
    {% if True > 50 %}
        <h1>Hasil anda adalah pass</h1>
    {% else %}
        <h1>Hasil anda adalah not pass</h1>
    {% endif %}

    <table border=1>
        {% for key, value in hasil.items() %}
            <tr>
                <th> {{ key }}</th>
                <th> {{ value }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>